.rhap_time {
  display: none;
}
div.rhap_container {
  background: none;
  margin-top: 0.5rem;
}
.single-song-audio-player .rhap_progress-container {
  margin-left: -15px;
  width: 480px;
}
.single-song-audio-player .rhap_progress-bar {
  height: 6px;
  background-color: gray;
}

.single-song-audio-player .rhap_progress-filled {
  background-color: var(--white);
}

.single-song-audio-player .rhap_play-pause-button {
  height: 56px;
  width: 56px;
}

.single-song-audio-player .rhap_play-pause-button {
  font-size: 48px;
  color: var(--white);
}

.single-song-audio-player .rhap_repeat-button,
.single-song-audio-player .rhap_volume-button {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: var(--white);
}

.single-song-audio-player .rhap_progress-indicator {
  display: none;
}
