:root {
    --black: #000000;
    --white: #FFFFFF;

}

body {
    background-color: var(--black);
    color: var(--white);
    padding: 0;
    margin-top: 40px;
}

.logo-img {
    height: 40px;
    width: 133.41px;
    margin-left: 0;
}

.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.flex-align {
    justify-content: center;
    align-items: center;
}

.app-layout {
    justify-content: space-around;
}

.app-songs-div {
    width: 80vw;
    justify-content: space-around;
    /* padding: 0 2rem; */
}
.logo-div {
    /* width: 280px; */
    margin-left: -1rem;
}
.sidebar-nav {
    height: 32px;
    /* top: 40px; */
    gap: 40px;
}

.sidebar-nav button {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    background: none;
    outline: none;
    border: none;
    color: var(--white);
}

.search-div {
    max-width: 400px;
    height: 32px;
    border: none;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--white);
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    /* width: 90%; */
    height: 100%;
    /* padding: 8px 16px 8px 16px; */
    background: none;
    flex-basis: 90%;
    border: none;
}
.sidebar-div {
    width: 432px;
    z-index: 10;
}
.songs-list-div {
    flex: 1 1 100%;
}
.song-chip {
    height: 41.84px;
    border: none;
    border-radius: 8px;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 0;
}

.chip-cover-img {
    height: 48px;
    width: 48px;
    border-radius: 56px;
}
.chip-desc {
    /* width: 147px; */
    height: 48px;
    gap: 16px;
    align-items: flex-start;
}
.song-info {
    align-items: flex-start;
}

.song-info p {
    font-size: 18px;
}

.chip-artist {
    font-size: 14px;
    opacity: 0.6;
}

.single-song-div {
    width: 480px;
    height: 692px;
}

.single-song-img {
    width: 100%;
    height: 480px;
    border-radius: 8px;
    margin-top: 24px;
}

.single-song-credits {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.single-song-credits h1 {
   
}
.single-song-artist {
    margin-top: -1.5rem;
    opacity: 0.6;
}

.menu-btn {
    position: fixed;
    top: 40px;
    right: 20px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    visibility: hidden;
}